@import 'fonts';
@import 'variables';
@import 'animations';

body {
  @include fantasque;
  background: $wh;
  color:$lg;
  height: 100vh;
  width: 100vw;
  align-items: center;
  display:flex;
  justify-content: space-around;

  @media(prefers-color-scheme: dark) {
    background: $black;
  }


  div {
    vertical-align: 50%;
    text-align: center;
    font-size: 2em;
  }

  .card {
    $size: 10em;
    width: $size;
    height: $size;
    padding: .5em;

    background: #fefefe;
    box-shadow: 0 0 10px $lg;

    @media(prefers-color-scheme: dark) {
      background: $dg;
      box-shadow: 0 0 10px $black;
    }

    &.loading {
      color: $lg;
      animation: none;
      font-size: 1em;
      padding-top:7em;
      min-width: 30em;
    }
  }

  .weather {
    animation: rotateHue 8s infinite linear;

    .icon svg {
      animation: rotateFillHue 8s infinite linear;
      width: 2em;
      height: 2em;
    }
  }

  .mars {
    img { max-width: 100%; }
  }

  .credit {
    bottom: 10px;
    font-size: 10px;
    left: 10px;
    position: absolute;
    a { color: #a8a8a8; }
  }
}
