// base16
$black      : #181818;
$dark-gray  : #282828;
$medium-gray: #585858;
$light-gray : #d8d8d8;
$white      : #f8f8f8;

$bl : $black;
$dg : $dark-gray;
$mg : $medium-gray;
$lg : $light-gray;
$wh : $white;

$red   : #ab4642;
$orange: #dc9656;
$yellow: #f7ca88;
$green : #a1b56c;
$blue  : #86c1b9;
$indigo: #7cafc2;
$purple: #ba8baf;

$r : $red;
$o : $orange;
$y : $yellow;
$g : $green;
$b : $blue;
$i : $indigo;
$v : $purple;

// media queries
$bp-phone: "max-width: 767px";