@import 'fonts';
@import 'variables';
@import 'animations';

body {
  background: $wh;
  color:$lg;
  @include fantasque;

  display:flex;
  align-items: baseline;
  justify-content: space-around;
  padding-top: 5em;

  div { 
    vertical-align: 50%;
    text-align: center;
    font-size: 3em;
  }

  .card {
    max-width: 10em;
    margin: 0 auto;
    padding: .5em;

    flex-basis: 360px;

    background: #fefefe;
    box-shadow: 0 0 10px $lg;
  }

  .weather {
    animation: rotateHue 8s infinite linear;

    .icon svg {
      animation: rotateFillHue 8s infinite linear;
      width: 2em;
      height: 2em;
    }

    &.loading {
      color: $lg;
      animation: none;
      font-size: 1em;
      min-width: 30em;
    }
  }
}
