html
  head
    title
      | Blank New Tab
    link[rel="stylesheet" href="stylesheets/main.css"]
  body
    .weather.card.loading
      .summary
        | Loading Weather
      .temperature
      .icon
    .mars.card.loading
      .pic
        | Loading Mars

  script[type="text/javascript" src="scripts/vendor/umbrella.min.js"]
  /* script[type="text/javascript" src="scripts/vendor/cash.js"] */
  script[type="text/javascript" src="scripts/main.js"]
